@model IEnumerable<ASI.Basecode.Services.ServiceModels.FeedbackViewModel>

@{
    ViewData["Title"] = "ViewAll";
}

<h1>All Feedbacks</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FeedbackId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ticket.Subject)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FeedbackContent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FeedbackRating)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FeedbackId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ticket.Subject)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FeedbackContent)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.Name)
                </td>
                <td>
                    <div class="star-rating">
                        @for (int i = 5; i >= 1; i--)
                            {
                                <input type="radio" id="@($"star-{item.FeedbackId}-{i}")" name="@($"rating-{item.FeedbackId}")" value="@i" @(i == item.FeedbackRating ? "checked" : "") />
                                <label for="@($"star-{item.FeedbackId}-{i}")"></label>
                            }
                    </div>
                </td>
                <td>
                    @Html.ActionLink("View Feedback", "ViewFeedback", new { id = item.TicketId })
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts{
    var createMessage = '@TempData["CreateMessage"]';

    if (createMessage) {
        toastr.success(createMessage);
    }
}

<style>
    .star-rating {
        direction: rtl;
    }

    .star-rating input[type="radio"] {
        display: none;
     }

    .star-rating label {
        font-size: 2rem;
        color: #ddd;
        cursor: default;
        pointer-events: none;
    }

    .star-rating label:before {
        content: '★';
    }

    .star-rating input[type="radio"]:checked ~ label {
        color: #f5c518;
    }
</style>