@model IEnumerable<ASI.Basecode.Services.ServiceModels.NotificationViewModel>

<div class="modal-header">
    <h5 class="modal-title">Notification</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body small">
    <div class="list-group">
        @if (Model.Any())
        {
            @foreach (var item in Model)
            {
                <div>
                    <div class="d-flex justify-content-between">
                        <h6 class="font-weight-bold">@Html.DisplayFor(modelItem => item.Description)</h6>
                        <small>@Html.DisplayFor(modelItem => item.NotificationDate)</small>
                    </div>
                    <p>@Html.DisplayFor(modelItem => item.Title)</p>
                    <div class="d-flex justify-content-end align-items-center">
                        @if (item.TicketId != null)
                        {
                            @Html.ActionLink("Details", "GetTicket", "Ticket", new { id = item.TicketId, notificationId = item.NotificationId }, new { @class = "action-icon d-inline mx-2", title = "Details" })
                            <span> | </span>
                        }
                        <a href="#" onclick="displayDeleteModal('@item.NotificationId')" class="d-inline mx-2 action-icon" title="Delete">
                            Delete
                        </a>
                    </div>
                </div>
                <hr />
            }
        }
        else
        {
            <p>No notifications found.</p>
        }
    </div>
</div>