@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@inject ASI.Basecode.Services.Interfaces.INotificationService NotificationService

@{
    bool isAdmin = HttpContextAccessor.HttpContext.User.IsInRole("Admin");
    var userId = HttpContextAccessor.HttpContext.User.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier)?.Value;
    bool hasUnreadNotifications = false;
    int notificationCount = 0;
    var role = HttpContextAccessor.HttpContext.User.FindFirst(System.Security.Claims.ClaimTypes.Role)?.Value;

    if (!string.IsNullOrEmpty(userId))
    {
        hasUnreadNotifications = NotificationService.HasUnreadNotifications(userId);
        notificationCount = NotificationService.GetUnreadNotificationCount(userId);
    }
}

<div class="@((ViewBag.LoginView == true || ViewBag.create == true) ? "hide-navbar" : "sidebar") ">
    <div class="logosec hover-pointer">
        <img src="~/img/ticketita-logo.svg"
             style="width: 185px;" alt="logo"
             onclick="window.location.href = '@(User.IsInRole("Employee") ? Url.Action("GetAll", "Ticket") : Url.Action("Index", "Home"))';">
    </div>
    <div class="sidebar-header mt-5 mb-2">Navigation</div>
    <ul class="list-unstyled flex-grow-1">
        @if (isAdmin)
        {
            <li class="py-2">
                <a asp-action="Index" asp-controller="Home" class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Home" ? "active" : "")">
                    <i class="fa fa-area-chart px-1"></i>
                    Dashboard
                </a>
            </li>
            <li class="py-2">
                <a asp-action="Index" asp-controller="User" class="@(ViewContext.RouteData.Values["Controller"].ToString() == "User" ? "active" : "")">
                    <i class="fa fa-users px-1"></i>
                    Users
                </a>
            </li>
            <li class="py-2">
                <a asp-action="GetAll" asp-controller="Team" class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Team" ? "active" : "")">
                    <i class="fa fa-ticket px-1"></i>
                    Team Management
                </a>
            </li>
        }
        <li class="py-2">
            <a asp-action="GetAll" asp-controller="Ticket" class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Ticket" ? "active" : "")">
                <i class="fa fa-ticket px-1"></i>
                Ticket Screen
            </a>
        </li>
        <li class="py-2">
            <a asp-controller="KnowledgeBase" asp-action="Index" class="@(ViewContext.RouteData.Values["Controller"].ToString() == "KnowledgeBase" ? "active" : "")">
                <i class="fa fa-book px-1"></i>
                Articles
            </a>
        </li>
        <li class="py-2">
            <a asp-action="Index" asp-controller="Notification" class="@(hasUnreadNotifications ? "unread-notification" : "") @(ViewContext.RouteData.Values["Controller"].ToString() == "Notification" ? "active" : "")">
                @if (hasUnreadNotifications)
                {
                    <i class="fa fa-bell px-1" style="color: #f2476a;"></i>
                    <span class="bold-notifications">Notifications</span>
                }
                else
                {
                    <i class="fa fa-bell px-1"></i>
                    <div class="d-inline-flex">Notifications</div>
                }
            </a>
        </li>
        <li class="py-2">
            <a asp-controller="UserPreferences" asp-action="GetUserPreferences" class="@(ViewContext.RouteData.Values["Controller"].ToString() == "UserPreferences" ? "active" : "")">
                <i class="fa fa-cog px-1"></i>
                Settings
            </a>
        </li>
        <li class="py-2">
            <a href="#" data-toggle="modal" data-target="#logoutModal">
                <i class="fa fa-sign-out px-1"></i>
                Log out
            </a>
        </li>
    </ul>
    <div class="user-info">
        <i class="fa fa-user-circle icon"></i>
        <div class="text">
            <span>@HttpContextAccessor.HttpContext.User.Identity.Name</span>
            <small class="text-muted">(@role)</small>
        </div>
    </div>
</div>

<!-- Logout Modal -->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="logoutModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header border-0">
                <h5 class="modal-title" id="logoutModalLabel">
                    <i class="fa fa-hourglass-half px-1"></i>
                    Log out
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body pl-4 py-1">
                <p>Are you sure you want to log out?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <form asp-action="SignOutUser" asp-controller="Account" method="post">
                    <button type="submit" class="btn btn-primary">Confirm</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var links = document.querySelectorAll('.sidebar li a');
        links.forEach(function (link) {
            link.addEventListener('click', function () {
                links.forEach(function (link) {
                    link.classList.remove('active');
                });
                this.classList.add('active');
            });
        });
    });
</script>

<style>
    .text-muted{
    
    }
</style>
