@model IEnumerable<ASI.Basecode.Services.ServiceModels.TicketViewModel>

@foreach (var item in Model)
{
    <tr>
        <td>@Html.DisplayFor(modelItem => item.TicketId)</td>
        <td>@Html.DisplayFor(modelItem => item.Subject)</td>
        <td>@Html.DisplayFor(modelItem => item.IssueDescription)</td>
        @if (!User.IsInRole("Employee"))
        {
            <td>@Html.DisplayFor(modelItem => item.User.Name)</td>
        }
        <td>@Html.DisplayFor(modelItem => item.CreatedDate)</td>
        <td>
            @if (item.UpdatedDate == null)
            {
                @:No Updates
            }
            else
            {
                @Html.DisplayFor(modelItem => item.UpdatedDate)
            }
        </td>
        <td>
            @if (item.ResolvedDate == null)
            {
                @:Open
            }
            else
            {
                @Html.DisplayFor(modelItem => item.ResolvedDate)
            }
        </td>
        <td>@Html.DisplayFor(modelItem => item.CategoryType.CategoryName)</td>
        <td>@Html.DisplayFor(modelItem => item.PriorityType.PriorityName)</td>
        <td>@Html.DisplayFor(modelItem => item.StatusType.StatusName)</td>
        <td>
            @if (item.Attachment != null)
            {
                <a href="@Url.Action("DownloadAttachment", "Ticket", new { id = item.TicketId })">Download Attachment</a>
            }
            else
            {
                @:No attachment
            }
        </td>
        <td>
            @Html.ActionLink("Details", "ViewTicket", new { id = item.TicketId })
            @if (User.IsInRole("Employee"))
            {
                @if (item.StatusType.StatusName.Contains("Resolved"))
                {
                    <text> | </text>
                    @if (item.Feedback == null)
                    {
                        @Html.ActionLink("Provide Feedback", "ProvideFeedback", "Feedback", new { id = item.TicketId }, null)
                    }
                    else
                    {
                        @Html.ActionLink("View Feedback", "ViewFeedback", "Feedback", new { id = item.TicketId }, null)
                    }
                }
                else
                {
                    <text> | </text>
                    @Html.ActionLink("Edit", "Edit", new { id = item.TicketId })
                }
                <text> | </text>
                <a href="javascript:void(0);" onclick="displayDeleteModal('@item.TicketId')">Delete</a>
            }
        </td>
    </tr>
}