@model ASI.Basecode.Services.ServiceModels.TicketViewModel

@{
    ViewData["Title"] = "Create";
}

<h1 class="nav-header display-6">Create Ticket</h1>

<div class="container-fluid p-4">
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create" method="post" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Subject" class="control-label"></label>
                    <input asp-for="Subject" class="form-control" />
                    <span asp-validation-for="Subject" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="IssueDescription" class="control-label"></label>
                    <textarea asp-for="IssueDescription" class="form-control"></textarea>
                    <span asp-validation-for="IssueDescription" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CategoryTypeId" class="control-label"></label>
                    <select asp-for="CategoryTypeId" class="form-control">
                        @foreach (var item in Model.CategoryTypes)
                        {
                            <option value="@item.CategoryTypeId">@item.CategoryName</option>
                        }
                    </select>
                    <span asp-validation-for="CategoryTypeId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PriorityTypeId" class="control-label"></label>
                    <select asp-for="PriorityTypeId" class="form-control">
                        @foreach (var item in Model.PriorityTypes)
                        {
                            <option value="@item.PriorityTypeId">@item.PriorityName</option>
                        }
                    </select>
                    <span asp-validation-for="PriorityTypeId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="File">Attachment</label>
                    <input type="file" name="File" class="form-control" />
                    <button id="removeButton" class="btn btn-danger" style="display: none; margin-top: 10px;">Remove File</button>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="ViewAll">Back to List</a>
    </div>
</div>

@section Scripts {
    <script>
        var errMessage = '@TempData["ErrorMessage"]';
        if (errMessage) { 
            toastr.error(errMessage);
        }
    </script>

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}