@model ASI.Basecode.Services.ServiceModels.TicketViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Ticket</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="TicketId" type="hidden" />
            <input asp-for="CreatedDate" type="hidden" />
            <input asp-for="UpdatedDate" type="hidden" />
            <input asp-for="ResolvedDate" type="hidden" />
            <input asp-for="PriorityTypeId" type="hidden" />
            <input asp-for="StatusTypeId" type="hidden" />
            <input asp-for="CategoryTypeId" type="hidden" />
            <input asp-for="UserId" type="hidden" />
            <div class="form-group">
                <label asp-for="Subject" class="control-label"></label>
                <input asp-for="Subject" class="form-control" />
                <span asp-validation-for="Subject" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IssueDescription" class="control-label"></label>
                <textarea asp-for="IssueDescription" class="form-control"></textarea>
                <span asp-validation-for="IssueDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PriorityTypeId" class="control-label"></label>
                <input class="form-control" value="@Model.PriorityType.PriorityName" readonly />
            </div>
            <div class="form-group">
                <label asp-for="StatusTypeId" class="control-label"></label>
                <input class="form-control" value="@Model.StatusType.StatusName" readonly />
            </div>
            <div class="form-group">
                @if (Model.Attachment != null)
                {
                    <input asp-for="Attachment.AttachmentId" type="hidden" />
                    <input asp-for="Attachment.Name" type="hidden" />
                    <input asp-for="Attachment.Content" type="hidden" />
                    <input asp-for="Attachment.UploadedDate" type="hidden" />
                    <input asp-for="Attachment.Type" type="hidden" />
                    <label asp-for="Attachment" class="control-label"></label>
                    <div class="d-flex align-items-center">
                        <input asp-for="Attachment" class="form-control" value="@Model.Attachment.Name" readonly />
                        <button type="submit" formaction="@Url.Action("RemoveAttachment", "Ticket", new { ticketId = Model.TicketId, attachmentId = Model.Attachment.AttachmentId })" class="btn btn-danger" title="Remove Attachment" style="margin-left: 10px;">
                            <i class="fas fa-times"></i>
                        </button>
                    </div>
                    <a href="@Url.Action("DownloadAttachment", "Ticket", new { id = Model.TicketId })">Download Attachment</a>
                }
                else
                {
                    <label for="File">Attachment</label>
                    <input type="file" name="File" class="form-control" />
                }
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="ViewAll">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
