@model ASI.Basecode.Services.ServiceModels.TicketViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Ticket</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="TicketId" type="hidden"/>
            <input asp-for="CreatedDate" type="hidden" />
            <input asp-for="UpdatedDate" type="hidden" />
            <input asp-for="ResolvedDate" type="hidden" />
            <input asp-for="CategoryTypeId" type="hidden" />
            <div class="form-group">
                <label asp-for="Subject" class="control-label"></label>
                <input asp-for="Subject" class="form-control" />
                <span asp-validation-for="Subject" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IssueDescription" class="control-label"></label>
                <textarea asp-for="IssueDescription" class="form-control"></textarea>
                <span asp-validation-for="IssueDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PriorityTypeId" class="control-label"></label>
                <select asp-for="PriorityTypeId" class="form-control">
                    @foreach (var item in Model.PriorityTypes)
                    {
                        <option value="@item.PriorityTypeId">@item.PriorityName</option>
                    }
                </select>
                <span asp-validation-for="PriorityTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StatusTypeId" class="control-label"></label>
                <select asp-for="StatusTypeId" class="form-control">
                    @foreach (var item in Model.StatusTypes)
                    {
                        <option value="@item.StatusTypeId">@item.StatusName</option>
                    }
                </select>
                <span asp-validation-for="StatusTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                @if (Model.Attachments != null)
                {
                    /*<input asp-for="attachment.fileName" type="hidden" />
                    <input asp-for="attachment.fileContent" type="hidden" />
                    <input asp-for="attachment.uploadedDate" type="hidden" />
                    <input asp-for="attachment.contentType" type="hidden" />
                    <label asp-for="attachment" class="control-label"></label>
                    <input asp-for="attachment" class="form-control" value="@Model.attachment.fileName" readonly />
                    <a href="@Url.Action("DownloadAttachment", "Ticket", new { id = Model.ticket_ID })">Download Attachment</a>*/
                }
                else
                {
                    <label for="File">Attachment</label>
                    <input type="file" name="File" class="form-control" />
                }
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="ViewAll">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
