@model IEnumerable<ASI.Basecode.Services.ServiceModels.KnowledgeBaseViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>View Article List</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ArticleId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category.CategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ArticleId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @if (item.UpdatedDate == null)
                {
                    @:No Updates
                }
                else
                {
                    @Html.DisplayFor(modelItem => item.UpdatedDate)
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author.Name)
            </td>
            <td>
                    @Html.ActionLink("Edit", "Edit", new { articleId = item.ArticleId }) |
                    @Html.ActionLink("Details", "Details", new { articleId = item.ArticleId }) |
                    @Html.ActionLink("Delete", "Delete", new { articleId = item.ArticleId })
            </td>
        </tr>
}
    </tbody>
</table>
