@model ASI.Basecode.Services.ServiceModels.UserPreferencesViewModel

<h5>Ticket Notifications</h5>
<div class="row">
    <div class="col-md-4 form-group">
        <div class="form-group">
            <label for="notifyCreation">Creation</label>
            <select class="form-control" id="notifyCreation" name="Preferences[notifyCreation]">
                <option value="yes" selected="@(string.IsNullOrEmpty(Model.Preferences.GetValueOrDefault("notifyCreation")) || 
                        Model.Preferences.GetValueOrDefault("notifyCreation") == "yes")">Notify</option>
                <option value="no" selected="@(Model.Preferences.GetValueOrDefault("notifyCreation") == "no")">Don't Notify</option>
            </select>
        </div>
        <div class="form-group">
            <label for="notifyDetailsUpdate">Details Update</label>
            <select class="form-control" id="notifyDetailsUpdate" name="Preferences[notifyDetailsUpdate]">
                <option value="yes" selected="@(string.IsNullOrEmpty(Model.Preferences.GetValueOrDefault("notifyDetailsUpdate")) ||
                        Model.Preferences.GetValueOrDefault("notifyDetailsUpdate") == "yes")">Notify</option>
                <option value="no" selected="@(Model.Preferences.GetValueOrDefault("notifyDetailsUpdate") == "no")">Don't Notify</option>
            </select>
        </div>
        <div class="form-group">
            <label for="notifyAssignmentUpdate">Assignment Update</label>
            <select class="form-control" id="notifyAssignmentUpdate" name="Preferences[notifyAssignmentUpdate]">
                <option value="yes" selected="@(string.IsNullOrEmpty(Model.Preferences.GetValueOrDefault("notifyAssignmentUpdate")) ||
                        Model.Preferences.GetValueOrDefault("notifyAssignmentUpdate") == "yes")">Notify</option>
                <option value="no" selected="@(Model.Preferences.GetValueOrDefault("notifyAssignmentUpdate") == "no")">Don't Notify</option>
            </select>
        </div>
    </div>
    <div class="col-md-4 form-group">
        <div class="form-group">
            <label for="notifyStatusPriorityUpdate">Status & Priority Update</label>
            <select class="form-control" id="notifyStatusPriorityUpdate" name="Preferences[notifyStatusPriorityUpdate]">
                <option value="yes" selected="@(string.IsNullOrEmpty(Model.Preferences.GetValueOrDefault("notifyStatusPriorityUpdate")) ||
                Model.Preferences.GetValueOrDefault("notifyStatusPriorityUpdate") == "yes")">Notify</option>
                <option value="no" selected="@(Model.Preferences.GetValueOrDefault("notifyStatusPriorityUpdate") == "no")">Don't Notify</option>
            </select>
        </div>
        <div class="form-group">
            <label for="notifyNewComment">New Comment</label>
            <select class="form-control" id="notifyNewComment" name="Preferences[notifyNewComment]">
                <option value="yes" selected="@(string.IsNullOrEmpty(Model.Preferences.GetValueOrDefault("notifyNewComment")) ||
                Model.Preferences.GetValueOrDefault("notifyNewComment") == "yes")">Notify</option>
                <option value="no" selected="@(Model.Preferences.GetValueOrDefault("notifyNewComment") == "no")">Don't Notify</option>
            </select>
        </div>
        <div class="form-group">
            <label for="notifyNewFeedback">New Feedback</label>
            <select class="form-control" id="notifyNewFeedback" name="Preferences[notifyNewFeedback]">
                <option value="yes" selected="@(string.IsNullOrEmpty(Model.Preferences.GetValueOrDefault("notifyNewFeedback")) ||
                Model.Preferences.GetValueOrDefault("notifyNewFeedback") == "yes")">Notify</option>
                <option value="no" selected="@(Model.Preferences.GetValueOrDefault("notifyNewFeedback") == "no")">Don't Notify</option>
            </select>
        </div>
    </div>
</div>

@if (User.IsInRole("Support Agent"))
{
    <h5>Agent Notifications</h5>
    <div class="row">
        <div class="col-md-4 form-group">
            <div class="form-group">
                <label for="notifyAgentReminder">Unresolved Tickets Reminder</label>
                <select class="form-control" id="notifyAgentReminder" name="Preferences[notifyAgentReminder]">
                    <option value="yes" selected="@(string.IsNullOrEmpty(Model.Preferences.GetValueOrDefault("notifyAgentReminder")) ||
                        Model.Preferences.GetValueOrDefault("notifyAgentReminder") == "yes")">Notify</option>
                    <option value="no" selected="@(Model.Preferences.GetValueOrDefault("notifyAgentReminder") == "no")">Don't Notify</option>
                </select>
            </div>
        </div>
        <div class="col-md-4 form-group">
            <div class="form-group">
                <label for="notifyAgentTeamChange">Team Assignment</label>
                <select class="form-control" id="notifyAgentTeamChange" name="Preferences[notifyAgentTeamChange]">
                    <option value="yes" selected="@(string.IsNullOrEmpty(Model.Preferences.GetValueOrDefault("notifyAgentTeamChange")) ||
                        Model.Preferences.GetValueOrDefault("notifyAgentTeamChange") == "yes")">Notify</option>
                    <option value="no" selected="@(Model.Preferences.GetValueOrDefault("notifyAgentTeamChange") == "no")">Don't Notify</option>
                </select>
            </div>
        </div>
    </div>
}
