@model ASI.Basecode.Services.ServiceModels.UserPreferencesViewModel

<div class="row">
    <div class="col-md-4 form-group">
        @if (User.IsInRole("Support Agent"))
        {
            <div class="form-group mt-2">
                <label for="Preferences_defaultShowOption">Show Tickets</label>
                <select class="form-control" id="Preferences_defaultShowOption" name="Preferences[defaultShowOption]">
                    <option value="" selected="@(string.IsNullOrEmpty(Model.Preferences.GetValueOrDefault("defaultShowOption")) || Model.Preferences.GetValueOrDefault("defaultShowOption") == "all")">All</option>
                    <option value="assigned_me" selected="@(Model.Preferences.GetValueOrDefault("defaultShowOption") == "assigned_me")">Assigned to me</option>
                    <option value="assigned_team" selected="@(Model.Preferences.GetValueOrDefault("defaultShowOption") == "assigned_team")">Assigned to my team</option>
                    <option value="assigned_none" selected="@(Model.Preferences.GetValueOrDefault("defaultShowOption") == "assigned_none")">No Assignment</option>
                </select>
            </div>
        }
        <div class="form-group mt-2">
            <label for="Preferences_defaultStatusFilter">Status Filter</label>
            <select class="form-control" id="Preferences_defaultStatusFilter" name="Preferences[defaultStatusFilter]">
                <option value="" selected="@(string.IsNullOrEmpty(Model.Preferences.GetValueOrDefault("defaultStatusFilter")))">All</option>
                @foreach (var item in Model.StatusTypes)
                {
                    if (!User.IsInRole("Employee") && item.StatusTypeId == "S4") continue;
                    <option value="@item.StatusTypeId" selected="@(Model.Preferences.GetValueOrDefault("defaultStatusFilter") == item.StatusTypeId)">@item.StatusName</option>
                }
            </select>
        </div>
        <div class="form-group mt-2">
            <label for="Preferences_defaultPriorityFilter">Priority Filter</label>
            <select class="form-control" id="Preferences_defaultPriorityFilter" name="Preferences[defaultPriorityFilter]">
                <option value="" selected="@(string.IsNullOrEmpty(Model.Preferences.GetValueOrDefault("defaultPriorityFilter")))">All</option>
                @foreach (var item in Model.PriorityTypes)
                {
                <option value="@item.PriorityTypeId" selected="@(Model.Preferences.GetValueOrDefault("defaultPriorityFilter") == item.PriorityTypeId)">@item.PriorityName</option>
                }
            </select>
        </div>
    </div>
    <div class="col-md-4 form-group">
        <div class="form-group mt-2">
            <label for="Preferences_defaultCategoryFilter">Category Filter</label>
            <select class="form-control" id="Preferences_defaultCategoryFilter" name="Preferences[defaultCategoryFilter]">
                <option value="" selected="@(string.IsNullOrEmpty(Model.Preferences.GetValueOrDefault("defaultCategoryFilter")))">All</option>
                @foreach (var item in Model.CategoryTypes)
                {
                    <option value="@item.CategoryTypeId" selected="@(Model.Preferences.GetValueOrDefault("defaultCategoryFilter") == item.CategoryTypeId)">@item.CategoryName</option>
                }
            </select>
        </div>
        <div class="form-group mt-2">
            <label for="Preferences_defaultSortBy">Sort By</label>
            <select class="form-control" id="Preferences_defaultSortBy" name="Preferences[defaultSortBy]">
                <option value="" selected="@(string.IsNullOrEmpty(Model.Preferences.GetValueOrDefault("defaultSortBy")) || Model.Preferences.GetValueOrDefault("defaultSortBy") == "updated_desc")">Recently Updated</option>
                <option value="created_desc" selected="@(Model.Preferences.GetValueOrDefault("defaultSortBy") == "created_desc")">Newest</option>
                <option value="created_asc" selected="@(Model.Preferences.GetValueOrDefault("defaultSortBy") == "created_asc")">Oldest</option>
                <option value="ticket_asc" selected="@(Model.Preferences.GetValueOrDefault("defaultSortBy") == "ticket_asc")">Ticket ID (A-Z)</option>
                <option value="ticket_desc" selected="@(Model.Preferences.GetValueOrDefault("defaultSortBy") == "ticket_desc")">Ticket ID (Z-A)</option>
                <option value="subject_asc" selected="@(Model.Preferences.GetValueOrDefault("defaultSortBy") == "subject_asc")">Subject (A-Z)</option>
                <option value="subject_desc" selected="@(Model.Preferences.GetValueOrDefault("defaultSortBy") == "subject_desc")">Subject (Z-A)</option>
            </select>
        </div>
    </div>
</div>
